@charset "utf-8";
/* CSS Document */
html{ height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td,a {padding: 0;margin: 0;  outline:none;word-wrap:break-word;}
body{font-family:'FZLanTingHeiS-R-GB'; color:#333; font-size:30px;}
p { margin:0 0 20px 0; text-indent:0px;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0; display:block;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym { border: 0;}
input,button,select,textarea{outline:none;} 
textarea{resize:none;}
em{ display:block;}
a:focus,area:focus { outline:none;}
*:not(input):not(textarea) {
-webkit-user-select: none; /* disable selection/Copy of UIWebView */
-webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; 
}


body div .mB15 { margin-bottom:15px;}
body div .mB25 { margin-bottom:25px;}
body div .mB60 { margin-bottom:60px;}
body div .mB75 { margin-bottom:75px;}
body div .pB70 { padding-bottom:70px;}
body div .pB80 { padding-bottom:80px;}
.pT1 { padding-top:1px;}
body .fL { float:left;}
body .fR { float:right;}


/*jq mobile checkbox*/
.ui-mobile, .ui-mobile body { height:100%;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background:none;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { color:#999; box-shadow:none;}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a { color:#FFF; font-weight:normal;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { text-shadow:none;}
.ui-checkbox, .ui-radio { float:left; margin:0; width:50%;}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited{ background:#FFF; border:0;}
.ui-page-theme-a .ui-btn:hover,html .ui-bar-a .ui-btn:hover,html .ui-body-a .ui-btn:hover,html body .ui-group-theme-a .ui-btn:hover,html head + body .ui-btn.ui-btn-a:hover { background-color:#FFF;}
.ui-btn.ui-checkbox-off::after { width:19px; height:19px; border:1px solid #8398c9; background:#FFF;}
.ui-btn-icon-left::after, .ui-btn-icon-right::after, .ui-btn-icon-top::after, .ui-btn-icon-bottom::after, .ui-btn.ui-checkbox-off::after, .ui-btn.ui-checkbox-on::after, .ui-btn.ui-radio-off::after, .ui-btn.ui-radio-on::after { width:20px; height:20px;}
.ui-mobile label, div.ui-controlgroup-label { font-weight:normal; font-size:30px;}
.ui-btn { padding:0.3em 1em;}
.ui-btn-icon-left { padding-left:1.7em;}
.ui-page-theme-a a:hover,html .ui-bar-a a:hover,html .ui-body-a a:hover,html body .ui-group-theme-a a:hover {	color: #FFF /*{a-link-hover}*/;}

body .blkList .linkList { color:#333;}
